@model IEnumerable<Wardrobe.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2 class="header">TOPS</h2>


<div class="row columns1">
    <div class="col-lg-2">
        Thumbnails
    </div>
    <div class="col-lg-2">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="col-lg-2">
        @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="col-lg-2">
        @Html.DisplayNameFor(model => model.Color)
    </div>
    <div class="col-lg-2">
        @Html.DisplayNameFor(model => model.Season)
    </div>
    <div class="col-lg-2">
        @Html.DisplayNameFor(model => model.Occasion)
    </div>

</div>



@foreach (var item in Model)
{
    <div class="row columns2">
        <div class="col-lg-2">
            <img src=@Url.Content(item.Photo) class="img-thumbnail" />
            @Html.ActionLink("Details", "Details", new { id = item.TopsID })


        </div>
        <div class="col-lg-2">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-lg-2">
            @Html.DisplayFor(modelItem => item.Type)
        </div>
        <div class="col-lg-2">
            @Html.DisplayFor(modelItem => item.Color)
        </div>
        <div class="col-lg-2">
            @Html.DisplayFor(modelItem => item.Season)
        </div>
        <div class="col-lg-2">
            @Html.DisplayFor(modelItem => item.Occasion)
        </div>
    </div>

}

<p class="createNew">
    @Html.ActionLink("Add a New Top", "Create")
</p>
